*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #112433;
    font-family: "Jersey 20",sans-serif;
    overflow-x: hidden;
}
/* header styling */
header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    position: fixed;       
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #112433;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
nav img{
    height: 58px;
    width: 105;
}
nav ul{
    display: flex;
    gap: 3rem;
    align-items: center;
    list-style: none;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-shadow:
    2px 2px 0 black,    
    -2px 2px 0 black,   
    2px -2px 0 black,   
    -2px -2px 0 black; 
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #ED6C1E;
    text-underline-offset: 0.5rem;

    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    0 0 5px white,     
    0 0 10px white; 
}

.registerbtn{
    background-color: #ED6C1E;
    box-shadow: 
        0 0 5px #ED6C1E,   
        0 0 10px #ED6C1E,  
        0 0 15px #ED6C1E;  
    transition: box-shadow 0.2s;
    border: 0.5px solid #CCD0CF;
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
    color: white;
    text-shadow:
    2px 2px 0 black,   
    -2px 2px 0 black;
}
.registerbtn:hover{
    box-shadow: 
    0 0 10px #ED6C1E,
    0 0 20px #ED6C1E,
    0 0 30px #ED6C1E;
}


/* hero styling */
#hero{
    padding-top: 94px;
    scroll-margin-top: 94px;
}
.hero-content h1{
    color: #5fbfbd; 
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2.3rem;
    
    justify-content: space-between;
    letter-spacing: 4px; 
    margin-bottom:20px;
    line-height: 1.5;
    padding-top: 2.5rem;
    padding-left: 72px;

    white-space: pre-line;
    text-shadow:
     0 0 10px #11ED93; 
}
.hero-description{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    line-height: 1.25;
    padding-left: 72px;
    margin-bottom: 30px;
    justify-content: space-between;
    
}
.hero-content{
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:center;
    gap:15rem;
    height: 40rem;
   

}

.logo{
    margin-top: 7rem;
    width: 26rem;
    margin-right: 2rem;
   
}
.ligne {
  font-size: 20px;
  color: #5fbfbd;
  margin-left: 4.9rem;
  justify-content:space-between;
  line-height: 2.5;
  
}

.register-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background-color: #ED6C1E; /* Orange */
  padding: 15px 35px;
  border-radius: 20px;

  font-family: 'jersey 20', sans-serif; /* style futuriste */
  font-size: 25px;
  font-weight: 700;
  height: 3.7rem;
  width: 16rem;
  color: white;
 text-shadow: 
    -2px 0 0 black,
     2px 0 0 black,
     0 -2px 0 black,
     0  2px 0 black;

  text-decoration: none;
  margin-top: 2.5rem;
  margin-left: 11rem;
  box-shadow: 0 0 25px #ED6C1E; /* Glow orange */
  transition: 0.3s;
}

/* Effet quand la souris passe */
.register-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px #ED6C1E;
}

/* Style de l’icône flèche */
.register-btn .icon {
  font-size: 1.5rem;
  border: 0.5px ;
  padding: 3px;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
}
.icon{
    width:2rem;
    fill:white;

}


/* about styling */
.container {
            width: 100%;
            max-width: 1200px;
            padding: 50px;
            position: relative;
        }

        .container h1 {
            font-size: 48px;
            color: #5fbfbd;
            text-align: center;
            margin-bottom: 60px;
            text-shadow: 
       
      
                0 0 40px #5FBFBD;
            letter-spacing: 1px;
            text-decoration:underline #ed6c1e;
            font-style:unset;
            position:absolute;
            top: 100px;
            left: 500px;
            font-family: 'Press Start 2P', sans-serif;
        }

        .content-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 60px;
            align-items: start;
            margin-bottom: 50px;
        }

        .text-content {
            padding-right: 20px;
        }

        .container h2 {
            font-size: 40px;
            font-family:'Jersey20-Regular', sans-serif;
            color:#fff;
            margin-bottom: 0px;
            line-height: 1.4;
            position:absolute;
            top: 250px;
            -webkit-text-stroke: 0.5px #000a1f;
            font-weight:bold;
            text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    0 0 5px white,     
    0 0 10px white; 
            
        }

        .container p {
            font-size: 22px;
            color: #FFFFFF;
            line-height: 1.5;
            text-align: justify;
            margin-top: 350px;
            font-family: 'orbitron', sans-serif;
            font-weight: 400;
        }
        .carousel-container {
         width: 400px;
         height: 300px;
         overflow: hidden;
         margin: auto;
         position: relative;
         border-radius: 20px;
}
.video-container {
  max-width: 1000px;        /* Limit width */
  max-height: 400px;
  margin: 20px auto;        /* Center video */
  border-radius: 15px;      /* Rounded corners */
  overflow: hidden;         /* So corners apply to video */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  margin-top: 350px;
  position: relative;
}

video {
  width: 100%;              /* Make video responsive */
  display: block;           /* Remove small gaps */
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;            /* Adjust size of play button */
    cursor: pointer;
    z-index: 2;
}



/* agenda styling */
#agenda{
    display: flex;
    flex-direction: column;
    scroll-margin-top: 94px;
}
.agenda-title {
    font-size: 48px;
    font-family: 'Press Start 2p',sans-serif;
    /* size: 40px; */
    color: #5fbfbd;
    margin-top: 50px;
    text-shadow: 0 0 15px rgba(95,191,189,0.6);
    text-decoration: underline #ed6c1e;
    /* letter-spacing: 2px; */
    align-self: center;
}

/* MAIN WRAPPER */
.agenda-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* ARROW BUTTONS */
.arrow-btn {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #5fbfbd;
    border: 2px solid #112433;
    color: #112433;
    font-family: Press Start 2P;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 2px 2px 0px #112433;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.arrow-btn:hover {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0px #112433;
}

/* DAY CARDS */
.day {
    width: 450px;
    height: 450px;
    padding: 25px;
    border-radius: 40px;

     background: linear-gradient(135deg, #0a1f2e 0%, #1a3d4d 50%, #2a5a5f 100%);
     border: 1px solid #5FBFBD;

    display: none;
}
.schedule {
    display: flex;
    gap: 40px; /* space between hours and activities */
    height: 100%;
}

/* HOURS COLUMN */
.hour {
    margin-top: 30px;
    font-family: Orbitron;
    font-size: 14px;
    color: #5FBFBD;
    white-space: nowrap;
}

/* ACTIVITIES COLUMN */
.activity {
    margin-top: 30px;
    font-family: Orbitron;
    font-size: 14px;
    color: white;
}
.day.active {
    display: block;
}



/* DAY TITLES */
.day h2 {
    color: #5FBFBD;
    text-decoration: underline #5FBFBD;
    font-family: Orbitron;
    margin-bottom: 25px;
    size: 32px;
}




/* faq styling */


#faq{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 4rem;
    padding: 2rem 0;
    scroll-margin-top: 94px;
}
.faq-title, .titlee{
    align-self: center;
    font-size: 48px;
    color: #5FBFBD;
    text-shadow: 
       
      
        0 0 40px #5FBFBD;
    padding: 0 1rem;
    border-bottom: 3px solid #ED6C1E;
    font-family: 'Press Start 2p',sans-serif;
}
.faq-container{
    font-size: 1.7rem;
    margin: 0 2rem;
    background: rgba(204, 208, 207, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 30px;
    padding: 45px 40px;
    border: 1px solid #5FBFBD;
}
.qstn{
    border-bottom: 1.5px solid #ED6C1E;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qst{
    padding: 1rem 0;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-family: 'Orbitron',sans-serif;
    font-size: 18px;
}
.answer.active {
    max-height: 500px; 
}

.reveal{
    border: 3px solid #5FBFBD;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}
.reveal img {
    transition: transform 0.3s ease;
}

.reveal img.rotate {
    transform: rotate(180deg);
}


/* sponsors styling */
#sponsors{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0;
    scroll-margin-top: 94px;
}
.sponsor-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.sponsor-carousel{
    width: 100vw; 
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.line1{
    display: flex;
    gap: 200px;
    width: max-content; 
    animation: moveLeft linear infinite;
}
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* adjust based on content width */
    }
}
.line2{
    display: flex;
    justify-content: space-evenly;
}
.line3{
    display: flex;
    gap: 180px;
    align-self: center;
}
.sp{
    height: 200px;
    width: 200px;
}
/* Contact Us styling */
#contact{
    scroll-margin-top: 94px;
}
.section-title {
  color:#5FBFBD; 
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
   color: #5FBFBD; /* couleur néon verte */
      text-shadow: 
       
      
        0 0 40px #5FBFBD;
        position: absolute;  /* permet de placer le texte par-dessus */
        
  margin-left: 250px; /* décalage à droite */
  margin-top: 50px;  /* décalage vers le bas */
  display: inline-block;
border-bottom: 2px solid #e8610d; /* ligne néon verte */
  padding-bottom: 5px;
  
  
}
.box{
    background: #000A1F;
    height: 510px;
    aspect-ratio: 2/1;
    border-radius: 50px;
    border: 1px solid #5FBFBD;
  box-shadow: 0 0 10px #5FBFBD,
  0 0 20px #5FBFBD,
  inset 0 0 10px #5FBFBD;
  transition: 0.5s;

   position: absolute;
    margin-left: 110px; /* décalage à droite */
     margin-top: 185px;  /* décalage vers le bas */
  
}
.box:hover{
    transform:scale(1.1) ;
    box-shadow: 0 0 15px #ED6C1E,
    0 0 30px #ED6C1E,
inset 0 0 15px #ED6C1E;
border-color: #ED6C1E;
background: #000A1F;
}


.box img:nth-child(1) {
    width: 270px;
    height: auto;
       margin-top: 50px;  /* décalage vers le bas */
    margin-left: 510px; /* décalage à droite */
position: absolute;
}
.box img:nth-child(2) {
    width: 1040px;
    position: absolute;
    height: 520px;
}
.box img:nth-child(3){
    width: 115px;
    height: auto;
    margin-top: 19px;
    margin-left: 255px;
}
.box h1:nth-child(4){
    color: #ED6C1E;
    width: 155px;
    height: auto;
    margin-left: 455px;
margin-top: 10px;
 font-family: "Jersey 20", sans-serif;
  font-weight: 420;
  font-style: normal;
   color: #ED6C1E; /* couleur néon verte */
      text-shadow:
       0 0 40px #ED6C1E;
}
.box p:nth-child(5){
    .blanc {
        color: white;
         font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
    }
    .orange {
        color: #ED6C1E;
         font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
    }
    margin-left: 460px;
    margin-top: 20px;
     

}
.box p:nth-child(6){
    color: white;
    size: 40px;
    margin-top: 18px;
    margin-left: 464px;
     font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.box img:nth-child(7){
    width: 48px;
    height: auto;
    margin-top: 40px;
margin-left: 310px;
 cursor: pointer !important;

    
}
.box img:nth-child(8){
  width: 48px;
    height: auto;
    margin-top: 40px;
margin-left: 36px;
   cursor: pointer !important;
}
.box img:nth-child(9){
  width: 48px;
    height: auto;
    margin-top: 40px;
margin-left: 36px;   
 cursor: pointer !important;

}
.box img:nth-child(10){
  width: 48px;
    height: auto;
    margin-top: 40px;
margin-left: 36px; 
 cursor: pointer !important;   
}
.box img:nth-child(11){
  width: 48px;
    height: auto;
    margin-top: 40px;
margin-left: 36px;
 cursor: pointer !important;    
}
