*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #112433;
    font-family: "Jersey 20",sans-serif;
}
/* header styling */
header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
nav img{
    height: 58px;
    width: 105;
}
nav ul{
    display: flex;
    gap: 3rem;
    align-items: center;
    list-style: none;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-shadow:
    2px 2px 0 black,    
    -2px 2px 0 black,   
    2px -2px 0 black,   
    -2px -2px 0 black; 
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #ED6C1E;
    text-underline-offset: 0.5rem;

    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    0 0 5px white,     
    0 0 10px white; 
}

.registerbtn{
    background-color: #ED6C1E;
    box-shadow: 
        0 0 5px #ED6C1E,   
        0 0 10px #ED6C1E,  
        0 0 15px #ED6C1E;  
    transition: box-shadow 0.2s;
    border: 0.5px solid #CCD0CF;
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
    color: white;
    text-shadow:
    2px 2px 0 black,   
    -2px 2px 0 black;
}
.registerbtn:hover{
    box-shadow: 
    0 0 10px #ED6C1E,
    0 0 20px #ED6C1E,
    0 0 30px #ED6C1E;
}


/* hero styling */



/* about styling */




/* agenda styling */




/* faq styling */


#faq{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 4rem;
    padding: 2rem 0;
}
.faq-title{
    align-self: center;
    font-size: 48px;
    color: #5FBFBD;
    padding: 0 1rem;
    border-bottom: 3px solid #ED6C1E;
    font-family: 'Press Start 2p',sans-serif;
}
.faq-container{
    font-size: 1.7rem;
    margin: 0 2rem;
    background: rgba(204, 208, 207, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 30px;
    padding: 45px 40px;
    border: 1px solid #5FBFBD;
}
.qstn{
    border-bottom: 1.5px solid #ED6C1E;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qst{
    padding: 1rem 0;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-family: 'Orbitron',sans-serif;
    font-size: 18px;
}
.answer.active {
    max-height: 500px; 
}

.reveal{
    border: 3px solid #5FBFBD;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}
.reveal img {
    transition: transform 0.3s ease;
}

.reveal img.rotate {
    transform: rotate(180deg);
}


/* sponsors styling */

/* Contact Us styling */
